<div class="container">
  <div class="card">
    <div class="title">
      <div class="titleText">
        <p class="eyebrow">modify</p>
        <h2>edit habit</h2>
      </div>

      <button
        type="button"
        (click)="habitService.openListMode()"
        class="exit"
        aria-label="Close profile"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-circle-x-icon lucide-circle-x"
        >
          <circle cx="12" cy="12" r="10" />
          <path d="m15 9-6 6" />
          <path d="m9 9 6 6" />
        </svg>
      </button>
    </div>

    <form class="form" [formGroup]="habitService.habitForm" (ngSubmit)="habitService.updateHabit()">
      <div class="habitName">
        <app-auth-input label="habit name" controlName="habitName"></app-auth-input>
      </div>
<div class="aspect">
  <label for="aspect">Aspect</label>

  <select id="aspect" formControlName="aspectId">
    @for (aspect of habitService.aspects(); track aspect.aspectId) {
      <option [value]="aspect.aspectId">
        {{ aspect.aspectName }}
      </option>
    }
  </select>
</div>

      <div class="submit">
        <button
          type="submit"
          [disabled]="habitService.habitForm.invalid || habitService.isLoadingEdit()"
          [class.disabled]="habitService.habitForm.invalid || habitService.isLoadingEdit()"
        >
          {{ habitService.isLoadingEdit() ? 'loading...' : 'save changes' }}
        </button>
      </div>
    </form>
  </div>
</div>
