# =========================
# Angular / Node
# =========================
**/node_modules/
**/dist/
**/.angular/

# =========================
# .NET
# =========================
**/bin/
**/obj/

# =========================
# Visual Studio
# =========================
.vs/
**/.vs/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Windows
# =========================
desktop.ini
Thumbs.db