<div class="container">
  <div class="card">
    <div class="title">
      <div class="titleText">
        <p class="eyebrow">View</p>
        <h2>aspect</h2>
      </div>
      <button
        type="button"
        (click)="aspectService.openListMode()"
        class="exit"
        aria-label="Close profile"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-circle-x-icon lucide-circle-x"
        >
          <circle cx="12" cy="12" r="10" />
          <path d="m15 9-6 6" />
          <path d="m9 9 6 6" />
        </svg>
      </button>
    </div>

    <hr />
    <div class="aspectInfo">
      <p class="aspectColor" [style.background-color]="aspectService.selectedAspect()?.aspectColor" ></p>
      <p>{{aspectService.selectedAspect()?.aspectName}}</p>
    </div>
    <hr />

    <div class="aspectHabit">

      <div class="titleText">
        <p class="eyebrow">aspect</p>
        <h3>habits</h3>
      </div>

      <div class="addBTN">
        <button class="addHabitBTN" (click)="aspectService.Popup()">add habit</button>
      </div>

    </div>
  </div>
</div>
