<div class="input-box">
  <input 
    [type]="type" 
    [id]="controlName" 
    placeholder=" " 
    [formControlName]="controlName" />
  <label [for]="controlName">{{ label }}</label>
</div>

<div class="Error" *ngIf="parentForm?.get(controlName)?.touched">

  <p *ngIf="parentForm?.get(controlName)?.hasError('required')">
    *{{ label }} {{ 'validation.required' | translate }}
  </p>

  <p *ngIf="parentForm?.get(controlName)?.hasError('email')">
    *{{ 'validation.email' | translate }}
  </p>
  
</div>