<div class="container">
  <div class="card">
    <div class="title">
      <div class="titleText">
        <p class="eyebrow">modify</p>
        <h2>edit aspect</h2>
      </div>

      <button
        type="button"
        (click)="aspectService.openListMode()"
        class="exit"
        aria-label="Close profile"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-circle-x-icon lucide-circle-x"
        >
          <circle cx="12" cy="12" r="10" />
          <path d="m15 9-6 6" />
          <path d="m9 9 6 6" />
        </svg>
      </button>
    </div>

    <form
      class="form"
      [formGroup]="aspectService.aspectForm"
      (ngSubmit)="aspectService.updateAspect()"
    >
      <div class="aspectName">
        <app-auth-input
          label="aspect name"
          controlName="aspectName"
        ></app-auth-input>
      </div>

      <div class="aspectColor">
        <app-auth-input
          label="aspect color"
          controlName="aspectColor"
          type="color"
        ></app-auth-input>
      </div>

      <div class="submit">
        <button
          type="submit"
          [disabled]="aspectService.aspectForm.invalid || aspectService.isLoadingEdit()"
          [class.disabled]="aspectService.aspectForm.invalid || aspectService.isLoadingEdit()"
        >
          {{
            aspectService.isLoadingEdit()
              ? 'loading...'
              : 'save changes'
          }}
        </button>
      </div>
    </form>
  </div>
</div>