<div class="container">
  <div class="img">
    <img class="think" src="Images/lamb.png" [attr.alt]="'login.lamb' | translate" />
    <img class="normal" src="Images/normal.png" [attr.alt]="'login.normal' | translate" />
  </div>

  <form class="form" [formGroup]="loginService.loginForm" (ngSubmit)="loginService.onSubmit(cdr)">
    <fieldset>
      <legend class="title">panflow</legend>

      @if (loginService.serverError) {
        <div class="serverError">
          {{ loginService.serverError }}
        </div>
      }

      <app-auth-input controlName="email" [label]="'login.email' | translate" type="email"></app-auth-input>

      <app-password-input 
        [label]="'login.password' | translate" 
        [control]="passwordControl">
      </app-password-input>

      <div class="submit">
        <button type="submit" [class.disable]="loginService.isLoading"
          [disabled]="loginService.isLoading || loginService.loginForm.invalid">
          {{ loginService.isLoading ? ('general.loading' | translate) : ('login.login' | translate) }}
        </button>
      </div>

      <div class="login">
        <p>{{ 'login.noAccount' | translate }} <a routerLink="/register">{{ 'login.signUp' | translate }}</a></p>
      </div>
    </fieldset>
  </form>
</div>